/* Reset styles (optional) */
body, h1, p {
    margin: 0;
    padding: 0;
  }
  
  /* General styles */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
  }
  
  header {
    background: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
  }
  .carousel-item img {
    height: 500px;
    object-fit: cover;
}
 
  .navbar {
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
}
.navbar-nav .nav-link {
    color: white;
    font-size: 18px;
    margin: 0 10px;
    transition: 0.3s;
}
.navbar-nav .nav-link:hover {
    color: #00aaff;
}
.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: white;
}
.navbar-toggler {
    border: none;
}
.navbar-toggler:focus {
    box-shadow: none;
}
  
  footer {
    background: #f4f4f4;
    color: #333;
    text-align: center;
    padding: 1rem;
  }
  